---
layout: default
---

<div>
    <script type="text/javascript">
        function iframe_loaded(frame) {
            console.log("widget loaded");
            $(frame).addClass("visible")
        }
    </script>

    <div class="youtube-player">
        <iframe width='1400' height='824' onload="iframe_loaded(this)" src="https://www.youtube.com/embed/ZsT8oq5qN2M?&theme=dark&color=white&autohide=2&modestbranding=1&showinfo=0&rel=0" frameborder="0" allowtransparency="true" gesture="media"></iframe>
    </div>

    <h1 class="font-blurb">simple to host</h1>
    <h2 class="font-blurb">no experience in server administration needed</h2>
    <h1 class="font-blurb">simple to develop</h1>
    <h2 class="font-blurb">learn to write a simple module in python without any development experience</h2>
    <h1 class="font-blurb">easy to understand but highly functional platform</h1>
    <h2 class="font-blurb">developers of all levels can learn and develop their programming skill on something that has real-world applications</h2>

    <iframe class="widget-discord" onload="iframe_loaded(this)" src="https://discordapp.com/widget?id=379959693306494979&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>

    {{ content }}
</div>
    
