---
layout: default
---

<div>
    <script type="text/javascript">
        function iframe_loaded(frame) {
            console.log("widget loaded");
            $(frame).addClass("visible")
        }
    </script>

    <div class="youtube-player">
        <iframe width='1400' height='824' onload="iframe_loaded(this)" src="https://www.youtube.com/embed/ZsT8oq5qN2M?&theme=dark&color=white&autohide=2&modestbranding=1&showinfo=0&rel=0" frameborder="0" allowtransparency="true" gesture="media"></iframe>
    </div>

    <p>ModisWorks is the home of Modis, a highly modular Python Discord bot designed to be easily privately hosted by anyone. We have three main objectives for Modis:</p>
    <ul>
        <li>Simple enough to host so that someone with no experience in server administration can host it on their own</li>
        <li>Simple enough to develop for so that someone with no experience in software development can learn to write a simple module</li>
        <li>Easy to understand but highly functional platform for developers of all levels to learn and develop their programming skill on something that has real-world applications</li>
    </ul>

    <iframe class="widget-discord" onload="iframe_loaded(this)" src="https://discordapp.com/widget?id=379959693306494979&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>

    {{ content }}
</div>
    
